* {
	outline: red 1px solid;
}

@font-face{
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: black;
}

em {
	font-style: italic;
}

.main {
	background: white;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 100px;
	min-height: 500px;
	position: relative;
}

.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}
	
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;	
	height: 90px;
	position: relative;
	top: 167px;
	left: -212px;
	z-index: 10;
	float: left;
	display:none;
}

.ryu-container, .ryu {
	float:left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}	

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.text-content{
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

/* --- STYLING FOR LOGOS --- */

/*.sf-logo {
	background-image: url('../images/sf-logo.png');
	width: 682px;
	height: 314px;
	display: none;
}

.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 500px;
	height: 172px;
	display: none;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}*/

.brought-by, .how-to {
	display: none;
	color: red;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	width: 600px;
}

.brought-by {
	text-align: center;
	margin-top: 100px;
}


.how-to p {
	width: 50%;
	color: black;
	font-size: 24px;
	line-height: 45px;
}

.how-to p + p {
	margin-left: 275px;
}


/* --- VOLUME CONTROL STYLING--- */

.volume-control-container {
	position: absolute;
	left: 100px;
	top: 44px;
	width: 60px;
	height: 65px;
	background-color: black;
	z-index: 2;
}

.volume-control {
	font-size: 4em !important;
	color: white;
}



/* --- CODE CREATED TO TEST POSITIONING RELATIVE VS ABSOLUTE --- */

/*.volume-control-container > .container {
	position: relative;
	width: 50%;
	height: 50%;
	background-color: white;
	z-index: 3;
}*/

/*.container > .absolute-class {
	position: absolute;
	height: 50%;
	width: 50%;
	background-color: black;
	bottom: 0;
	right: 0;
}*/





